@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* --------------------------------- Navigation Menu Section Start -------------------- */
header{
    /* background-color: aquamarine; */
    width: 100%;
    /* height: 100vh; */
}
header nav{
    background-color:transparent;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;

}
header nav .logo img{
    width: 3.2rem;
}
header nav .nav_menu_container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
header nav .nav_menu_container ul li{
    list-style: none;
}
header nav .nav_menu_container ul li a{
    text-decoration: none;
    color: #1D5A6B;
    font-size: 1.2rem;
    font-weight: 400;
}
header nav .log-btn-container button{
    padding: .4rem 1.5rem;
    color: #fff;
    border: none;
    background-color:#8f0039;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: .2rem;
    cursor:pointer
}
/* --------------------------------- Navigation Menu Section End -------------------- */
/* ---------------------- Hero Section Start ------------------------- */
main .hero img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
main .hero img:nth-child(1){
   width:100rem;
}
main .hero img:nth-child(2){
    width:100rem;
 
}
main .hero img:nth-child(4){
    width:100rem;
 
}
